<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/c6f9fe3736.js" crossorigin="anonymous"></script>
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="flex item-center justify-center ">
       <a class= "btn" href="/">Home</a>
        <a class="btn" href="/events/new">
          Add Events
        </a>
      </div>
    </header>
  </body>
</html>    