<%- include('partials/header') -%>

<section>
  <div class="container">
    <div class="">
      <h1 class="heading">Welcome to Events Management</h1>
    </div>
    <div class="about">
      <p class="about_p">
        Understanding that event management is a major UK industry, and knowing what types of events could be included is vital for any would-be event planner. However, it’s also essential to realise what’s involved when it comes to designing and producing an event. Whether you’re organising a friend’s wedding or a multi-national conference, essential tasks will include:
        Understanding objectives – what is the purpose of the event? What experience do we want people to have? Planning an event is impossible without clear objectives.
      </p>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="images_section flex">
      <img
        class="image"
        src="https://5.imimg.com/data5/AM/ZZ/YK/ANDROID-81479192/product-jpeg-500x500.jpg"
        alt="image"
      />
      <img
        class="image"
        src="https://5.imimg.com/data5/AM/ZZ/YK/ANDROID-81479192/product-jpeg-500x500.jpg"
        alt="image"
      />
      
      <img
        class="image"
        src="https://eventmanagementcompany.weddingplannerskerala.com/wp-content/uploads/2019/03/53075092_2075145622784882_4583884458897178624_o.jpg"
        alt="image"
      />
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="about">
      <h2 class="about_heading">About</h2>
      <p class="about_p">
        The event manager is the person who plans and executes the event, taking responsibility for the creative, technical, and logistical elements. This includes overall event design, brand building, marketing and communication strategy, audio-visual production, script writing, logistics, budgeting, negotiation, and client service.
      </p>

      <p class="about_p">
        Event management might be a tool for strategic marketing and communication, used by companies of every size. Companies can benefit from promotional events as a way to communicate with current and potential customers. For instance, these advertising-focused events can occur as press conferences, promotional events, or product launches.
      </p>
    </div>
  </div>
</section>
    
<%- include('partials/footer') -%>